<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
    <div class="bg-white border border-gray-300 shadow-md w-full max-w-md rounded-lg mx-auto">
        <div class="text-center mb-2 bg-[#337ab7] p-4 sm:p-8 text-white rounded-t-lg">
            <p class="!text-xl sm:!text-2xl text-gray-600 text-white">SUPER ADMIN</p>
        </div>

        <form class="p-4 sm:p-8" [formGroup]="loginForm" (ngSubmit)="onSubmit($event,loginForm.value)">
            <div class="!space-y-4 sm:!space-y-6">
                <div>
                    <div class="relative">
                        <input type="email" formControlName="username"
                            class="w-full px-3 sm:px-4 py-2 sm:py-2.5 border border-gray-500 rounded-lg placeholder-gray-400 text-sm sm:text-base"
                            placeholder="Enter Email">
                            @if (loginForm.get('username')?.touched && loginForm.get('username')?.invalid) {
                                <div class="text-red-500 text-sm mt-1 ml-2">
                                    @if (loginForm.get('username')?.touched || loginForm.get('username')?.dirty) {
                                        @if (loginForm.get('username')?.hasError('required')) {
                                          <span class="text-danger">Email is required</span>
                                        } @else if (loginForm.get('username')?.hasError('email')) {
                                          <span class="text-danger">Please enter a valid email address</span>
                                        }
                                      }
                                </div>
                            }
                    </div>
                </div>

                <div>
                    <div class="relative">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                            class="w-full px-3 sm:px-4 py-2 sm:py-2.5 border border-gray-500 rounded-lg placeholder-gray-400 text-sm sm:text-base"
                            placeholder="Enter your password">
                        <button type="button" (click)="togglePassword()"
                            class="absolute right-2 sm:right-3 top-2.5 sm:top-3 text-gray-500 cursor-pointer">
                            <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                @if(!showPassword) {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                } @else {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                }
                            </svg>
                        </button>
                        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                            <div class="text-red-500 text-sm mt-1 ml-2">
                                @if (loginForm.get('password')?.errors?.['required']) {
                                    <span>Password is required</span>
                                }
                            </div>
                        }
                    </div>
                </div>
                <button type="submit"
                    class="w-full bg-[#696cff] text-white py-2 sm:py-2.5 rounded-lg hover:bg-[#787bff] transition-colors duration-300 disabled:opacity-50 text-sm sm:text-base cursor-pointer">
                    <span>Sign In</span>
                </button>
            </div>
        </form>
    </div>
</div>