<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Router List</span>
            <div class="counting">
                <button class="btn btn-primary !text-white !px-2 !py-1 !rounded !text-[11px]" (click)="onAddDevice('')">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    ADD NEW ROUTER
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center gap-2">
                <label for="itemsPerPage" class="text-sm text-gray-700 whitespace-nowrap">Items per page:</label>
                <select id="itemsPerPage"
                    class="block w-20 p-2 bg-white border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700"
                    [(ngModel)]="pagesize.limit" [ngModelOptions]="{standalone: true}"
                    (change)="onPageSizeChange($event)">
                    @for (size of [25, 50, 100]; track $index) {
                    <option [value]="size">{{ size }}</option>
                    }
                </select>
            </div>
            <div class="flex items-center gap-2">
                <span class="text-sm text-gray-600">Search:</span>
                <div class="search-form">
                    <input placeholder="Search for..." type="text" [(ngModel)]="searchKeyword"
                        [ngModelOptions]="{standalone: true}" class="form-control search-input" />
                    @if(searchKeyword) {
                    <button type="button" class="btn-search" (click)="clearSearch()">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </button>
                    } @else {
                    <button type="button" class="btn-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    }
                </div>
            </div>
        </div>
        @if (spinnerLoading) {
            <app-loader />
            } @else {                
                <div class="!overflow-x-auto">
                    <table class="!min-w-full">
                        <thead>
                            <tr class="!bg-gray-50">
                                <th class="!p-3 !text-left !text-sm !font-medium !text-gray-500 border">#</th>
                                <th class="!p-3 !text-left !text-sm !font-medium !text-gray-500 border">Router</th>
                                <th class="!p-3 !text-left!text-sm !font-medium !text-gray-500 border">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if ((deviceList | searchFilter: searchKeyword)?.length > 0) {
                            @for(data of deviceList | searchFilter: searchKeyword | paginate: {id: 'devID', itemsPerPage:
                            pagesize.limit, currentPage:
                            pagesize.offset, totalItems: pagesize.count}; track $index) {
                            <tr class="bg-white">
                                <td class="p-3 text-sm text-gray-500 border">{{ (pagesize.offset - 1) * pagesize.limit + $index
                                    + 1 }}</td>
                                <td class="p-3 border">
                                    <div class="text-sm space-y-2">
                                        <div class="pb-3 border-b border-gray-200">
                                            <p>Member Name : <span class="font-medium">demo</span></p>
                                        </div>
                                        <div class="space-y-1 pb-3 border-b border-gray-200">
                                            <p>ID : {{data?.id}}</p>
                                            <p>Name : {{data?.name}}</p>
                                            <p>Username Login : {{data?.username}}</p>
                                            <p>Password Login : {{data?.password}}</p>
                                        </div>
                                        <div class="space-y-1">
                                            <p>Mikrotik IP/ddns : {{data?.host}}</p>
                                            <p>Mikrotik Port : {{data?.port}}</p>
                                            <p>Mikrotik Username : {{data?.username}}</p>
                                            <p>Mikrotik Password : {{data?.password}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-3 border">
                                    <div class="!space-y-2 !text-right">
                                        <div class="border-b border-gray-200 pb-4">
                                            <button (click)="onGoToLive(data)" class="!bg-blue-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-database" aria-hidden="true"></i>
                                                LIVE DATA
                                            </button>
                                            <button (click)="onGoToCPU(data)" class="!bg-blue-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-database" aria-hidden="true"></i>
                                                VIEW CPU DATA
                                            </button>
                                            <button
                                                class="!bg-gray-200 !text-gray-600 !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                LANDING PAGE
                                            </button>
                                            <button
                                                class="!bg-cyan-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                GO TO ROUTER
                                            </button>
                                            <button
                                                class="!bg-cyan-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                VIEW LANDING PAGE
                                            </button>
                                            <button (click)="onViewData(data)"
                                                class="!bg-cyan-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                VIEW DATA
                                            </button>
                                            <button
                                                class="!bg-green-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                FILE LOGIN.HTML
                                            </button>
                                            <button
                                                class="!bg-green-500 !text-white !px-2 !py-1 !rounded !text-[11px] !flex !items-center !justify-center !gap-1 !mb-2">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                WALLED GARDEN
                                            </button>
                                        </div>
                                        <div class="!flex !justify-start items-center !gap-2 mt-4">
                                            <button class="!bg-yellow-500 !text-white !px-2 !py-1 !rounded !text-[11px]">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                EDIT
                                            </button>
                                            <button class="!bg-red-500 !text-white !px-2 !py-1 !rounded !text-[11px]">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                REMOVE
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            } } @else {
                            <tr>
                                <td colspan="3" class="p-4 text-center text-gray-500">
                                    <div class="flex flex-col items-center justify-center space-y-2">
                                        <p>No devices available</p>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="!flex !justify-between !mt-4 !gap-2">
                    <div class="counting">
                        <span>
                            {{ (deviceList | searchFilter: searchKeyword)?.length > 0 ? startValue : 0 }} -
                            {{ (deviceList | searchFilter: searchKeyword)?.length > 0 ? ((deviceList | searchFilter:
                            searchKeyword)?.length < lastValue ? (deviceList | searchFilter: searchKeyword)?.length : lastValue)
                                : 0 }} OF {{ (deviceList | searchFilter: searchKeyword)?.length }} Devices </span>
                    </div>
                    @if(deviceList?.length){
                        <pagination-controls id="devID" [maxSize]="10" [responsive]="true" [nextLabel]="''" [previousLabel]="''"
                            (pageChange)="onTablePageChange($event)">
                        </pagination-controls>
                    }
                </div>
            }
    </div>
</div>